.user-actions-container {
  position: absolute;
  top: var(--spacing-4);
  right: var(--spacing-4);
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  z-index: var(--z-index-panels);
}

.export-button {
  border-radius: var(--border-radius-button);
  padding: var(--spacing-2) var(--spacing-3);
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  font-size: var(--font-size-md);
  border: none;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.export-button:hover {
  filter: brightness(1.2);
}

.user-profile {
  width: 40px;
  height: 40px;
  background-color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.user-profile:hover {
  filter: brightness(1.2);
}

.user-profile-icon {
  color: white;
  font-size: 20px;
}

.user-actions .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: var(--color-primary);
  color: #fff;
  text-align: center;
  border-radius: 6px;
}

.action-button:hover, .action-button.active {
  background-color: var(--color-primary);
}

.action-button:disabled {
  opacity: 0.5;
} 